<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776452489141-f2gpphah55rrupajj2nvk5h5jrkmh7eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776452489141-f2gpphah55rrupajj2nvk5h5jrkmh7eb</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLXOYPDhtJ-mQqnqy3WblJO6JVdcaAXk</string>
	<key>GCM_SENDER_ID</key>
	<string>776452489141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartFit</string>
	<key>PROJECT_ID</key>
	<string>smart-fit-5ab9e</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-fit-5ab9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776452489141:ios:3572e582d2128a3f76a3fc</string>
</dict>
</plist>